In [4]:
import pandas as pd
import numpy as np
from sklearn import linear_model
df=pd.read_excel(r"houseprice.xlsx")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [6]:
bedrooms_median=df.bedrooms.median()
df.bedrooms=df.bedrooms.fillna(bedrooms_median)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [8]:
reg = linear_model.LinearRegression()
reg.fit(df.drop('price',axis='columns'),df.price)

LinearRegression()

In [24]:
reg.predict([[3000,3,40]])  #3000mt2 3 odalı 40 senellik ev fiyatı ne?

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([498408.25158031])